<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Take a selfie
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<img src="images/avatar.png" *ngIf="!image">
<img src={{image}} *ngIf="image">
  <button ion-button full color="secondary" (click)="cameraTapped()">
  <ion-icon name="camera" ></ion-icon>
  Take a selfie</button>
  <button ion-button full (click)="facebookTapped()">
  <ion-icon name="logo-facebook">
  	
  </ion-icon>Upload to Facebook</button>
</ion-content>
